<div class="navbar">
  <div id="menu">
    <ul class="item">
      <li>
      <%= link_to image_tag("title.png"), 
        :action => 'index', 
        :controller => 'main' %>
        </li>
        <li>
        <a href="about">關於咕迪</a>
        </li>
        <li>
        <a href="faq">問與答</a>
        </li>
        <li>
        <a href="contact">聯絡咕迪</a>
        </li>
        <li>
        <a href="orders">我要訂購</a>
        </li>
        <li>
        <a href="https://www.facebook.com/Goody.Bakery" target="_blank">迪粉絲頁</a>
        </li>
      </ul>
    </div>
  </div>
