<%= render :partial => 'main/header' %> 
<div id="contact">
	<div id="contacttitle"></div>
	<div id="contactintro">
		<div id="phone">0921850054</div>
		<div id="mail">goodybakery@hotmail.com</div>
	</div> 
</div>

<div id="contactbg"></div>