<div class="store-container">
  <div class="row">
	  <div class="span12">
	    <%= link_to image_tag("title.png"), 
	      :action => 'index', 
	      :controller => 'main' %>
	  </div>
	  <div class="span12">

	  	<%= link_to "Products", "products", :class => 'button' %>
			<%= link_to "Photos", "photos", :class => 'button' %>
			<%= link_to "Stores", "store", :class => 'button' %>
	  </div>
	</div>
</div>