<%= render :partial => 'main/header' %> 
<div id="todayreminder" style="text-align:center;"></div>
<div id="slider">
  <div class="show1"></div>
  <div class="show2"></div>
  <div class="show3"></div>
</div>

<div id="sale-info-box">
  <div id="sale"> </div>
  <div id="sale-info-date">10/29 9:00</div>
  <div id="sale-info-title">提拉米蘇漢堡</div>
  <div id="sale-info-line"> </div>
  <div id="sale-info-content">全新構想！
    我們將提拉米蘇塞進甜塔中
    由酥酥脆脆的法式甜酥塔皮包覆
    外酥內香濃的口感，希望能贏得您的味蕾！ </div>
  <div id="sale-info-price">40</div>
  <div id="sale-info-buy"></div>
  <div id="sale-info-quantity">19</div>
</div>

<div id="bgnoise"></div>
<div id="next"></div>
<div id="prev"></div>

<%= render :partial => 'copyright' %>
